.header-style {
  padding: 15px;
}
.header-website-logo {
  height: 20px;
}
.Link-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
